version: '3.8'

services:
  backend:
    build: ./backend
    container_name: python-backend
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx-proxy
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
